version: '3.8'

services:
  backend:
    build: .
    container_name: ezbid_backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/code
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    restart: always
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0
    container_name: ezbid_ez-bid-auth-db
    restart: always
    environment:
      MYSQL_DATABASE: ezbiddb
      MYSQL_USER: ezbid
      MYSQL_PASSWORD: Safwan@2017
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 10

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  db_data: