
services:
  backend:
    build: .
    container_name: ezbid_backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/code
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    restart: always
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0
    container_name: ezbid_ez-bid-auth-db
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost", "-u${DB_USER}", "-p${DB_PASSWORD}"]
      interval: 5s
      timeout: 10s
      retries: 10

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: ezbid_phpmyadmin
    restart: always
    environment:
      PMA_HOST: db         
      PMA_PORT: 3306
      UPLOAD_LIMIT: 64M
    ports:
      - "8080:80"       
    depends_on:
      - db

volumes:
  db_data: